---
name: Test peers.yaml

on:
  push:

jobs:
  test-peers-yaml:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ipaddr requests pyyaml
    - name: Test peers.yaml
      run: python ./tests/test_peering_relations.py
